<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Mini Projeto - MongoDB</title>
</head>
<body>
    <header class="main-header">
        <div class="header-container">
            <div class="logo">
            </div>
            <div class="header-links">
                <a href="/postar"> <button type="submit" class="btn">Postar</button> </a>
                <a href="/timeLine"><button type="submit" class="btn">Ver Posts</button></a>
            </div>
        </div>
    </header>

    <main class="main-container">
        <h1>Mini Projeto - MongoDB</h1>
        <hr>
        <p>Crie o CRUD de postagens utilizando o MongoDB. As postagens devem ter, pelo menos, os atributos título, texto e o identificador do autor (e-mail, cpf...). Deverão ser implementados, pelo menos um serviço para salvar uma postagem, e um serviço para listar as postagens de um determinado usuário.</p>
        <hr>
    </main>

</body>
</html>