<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Mini Projeto - MongoDB</title>
</head>
<body>
    <header class="main-header">
        <div class="header-container">
            <div class="logo">
            </div>
            <div class="header-links">
                <a href="/"> <button type="submit" class="btn">home</button> </a>
                <a href="/timeLine"><button type="submit" class="btn">Ver Posts</button></a>
                <a href="/myPost"><button type="submit" class="btn">Meus Posts</button></a>
                <a href="/userPage"><button type="submit" class="btn">Perfil{{post.autor}}</button></a>
            </div>
        </div>
    </header>

    <main class="main-container">
        <h1>Faça agora sua postagem</h1>
        <p> para salvar um rascunho deixei o titulo em branco </p>
        <hr>
        <form action="/postar" method="post">
            <input class="inp" type="text" name="titulo" id="titulo" placeholder="Insira o titulo da postagem">
            <textarea name="conteudo" id="conteudo" placeholder="Digite aqui sua mensagem"></textarea>
            <button type="submit" class="bnt">Postar / Salvar</button>
        </form>
        
    </main>

</body>
</html>