<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Mini Projeto - MongoDB</title>
</head>
<body>
    <header class="main-header">
        <div class="header-container">
            <div class="logo"></div>
            <div class="header-links">
                <a href="/"><button type="submit" class="btn">Home</button></a>
                <a href="/postar"> <button type="submit" class="btn">Postar</button> </a>
                <a href="/timeLineLogado"><button type="submit" class="btn">Ver Posts</button></a>
                <a href="/sair"><button type="submit" class="btn">Sair</button></a>
            </div>
            
        </div>
        
    </header>
    
    {%if success %}
    <div class="alert alert-success">{{success}}</div>
    {%endif%}

    <main class="main-user">
            
        <section class="my-posts">
            <h2>meus dados</h2>
            <div class="msg">
                <p>Nome: {{login.nome}}<p>
                <p>Email: {{login.email}}<p>
                <p>Nascido em: {{login.nascimento}}<p>
            </div>
        </section>

          
        <section class="my-posts">
            <h2>Meus Posts</h2>
                
            <div class="msg">
            {% for x in post %}  
                <div>
                    <small>{{x.data}}</small>
                </div>
                <h3>{{x.titulo}}</h3>
                <p>{{x.conteudo}}</p>
                <a href="/delete/{{x.titulo}}"><button type="submit" class="bnt">apagar</button></a>
            {% endfor %}
            </div>
        </section>
        
    
        <section class="my-posts">
            <h2>Seguindo</h2>
            <!-- testando o formato da variavel amg -->
            {{amg}}
            {{amg.nome}}
            {% for x in amg %}     
            <div class="msg">
                <div><h3>{{x.nome}}</h3>
                <small>{{x.email}}</small></div>
            </div>
            {% endfor %}
            <h2>recomendados</h2>
            {% for x in rcm %}     
            <div class="msg">
                <div><h3>{{x.nome}}</h3>
                <small>{{x.email}}</small></div>
            </div>
            {% endfor %}
        </section>

    </main>